body { background: #efefef; margin: 0; }
* { margin: 0; padding: 0; box-sizing: border-box;}
hr{ height: 0; border: none; border-top: 1px solid #DEDEDE; }
ul,ol { list-style: none; }
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
.clearfix:after { content: ""; display: block; clear: both;}
a { color: inherit; text-decoration: none;}

.icon { width: 1em; height: 1em; vertical-align: -0.15em; fill: currentColor; overflow: hidden; }

.wrapper { position: relative; }
.topNavBar { position: fixed; width: 100%; z-index: 1; transition: all .3s; }
.topNavBar-inner { padding: 20px; display: flex; flex-direction: column; align-items: center; transition: all .3s;}
.topNavBar-inner .mobile-btn { display: none;}
.topNavBar .logo { font-size: 24px; font-family: "Arial Black"; transition: all .3s; }
.topNavBar .logo .rs { color: #feca2a;}
.topNavBar .logo .card { color: #9a9da2;}
.topNavBar nav { margin-top: 10px;}
.topNavBar nav > ul { list-style: none; margin: 0; padding: 0; display: flex; }
.topNavBar nav > ul > li { margin: 0 17px;}
.topNavBar nav > ul > li > a { position: relative; font-size: 14px; font-weight: bold; color: #b7b7b7;
  border-bottom: 3px solid transparent; display: block; padding: 5px 0; }
@keyframes menuSlide { 0% { width: 0; } 100% { width: 100%; } }
.topNavBar nav > ul > li.active > a::after,
.topNavBar nav > ul > li.highlight > a::after { position: absolute; content: ''; display: block; width: 100%; height: 3px;
 background-color: #feca2a; bottom: -3px; animation: menuSlide .3s;}

.topNavBar.sticky .topNavBar-inner { padding: 10px 16px; }
.topNavBar.sticky { background-color: #fff; box-shadow: 0 3px 5px 0px #ccc; }
.topNavBar.sticky nav { margin-top: 3px;}
.topNavBar.sticky nav > ul > li > a { color: #3d4451; }
.topNavBar.sticky .logo { font-size: 20px;}


.banner { height: 515px; background: url(img/wallpaper.jpg) center no-repeat; background-size: cover; }
.wrapper main { margin-top: -370px; }
.banner .mask { height: 515px; background-color: rgba(0,0,0,0.5);}

.userCard { max-width: 940px; margin-left: auto; margin-right: auto; background-color: #fff; 
    border-top-left-radius: 3px; border-top-right-radius: 3px;}
.userCard .pictureAndText { padding: 6% 5.31% 1.6% 5.31%; display: flex; flex-wrap: wrap; }
.userCard .picture { width: 35.71%;}
.userCard .picture > img { width: 100%; min-width: 270px; max-width: 400px;}

.userCard .text { margin-left:  7.73%; width: 56%;}
.userCard .welcome { background-color: #feca2a; color: #fff; display: inline-block; padding: 5px 25px; line-height: 21px; margin-bottom: 10px; position: relative; }
.userCard .welcome::after { content: ''; position: absolute; width: 0; border: 10px solid transparent; border-top-color: #feca2a;
border-left-width: 0; left: 4px; top: 100%; }

.userCard .text h1 { margin-top: 12px; margin-bottom: 8px;  }
.userCard .text p { line-height: 2;}
.userCard .text hr { margin: 16px 0; }

.userCard dl dt,.userCard dl dd { float: left; padding: 8px 0; }
.userCard dl dt { width: 30%; font-weight: bold; }
.userCard dl dd { width: 70%; color: #A3A29F; }

.userCard > footer.media { background-color: #feca2a; text-align: center; }
.userCard > footer.media a { display: inline-block; color: #fff; width: 40px; padding: 5px 0; margin: 12px;
border-radius: 50%; transition: all .3s; position: relative;}
.userCard > footer.media a:hover { background-color: #DFBA46;}
.userCard > footer.media a span {visibility: hidden; opacity: 0; position: absolute; padding: 3px 8px; border-radius: 3px;
  background-color: #337ab7; white-space: nowrap; bottom: 120%; left: 50%; transform: translateX(-50%); font-size: 12px;
  transition: all .3s;
}
.userCard > footer.media a span img { vertical-align: top; margin: 0px -5px;}
.userCard > footer.media a span::after {content: ''; position: absolute; border-width: 6px; border-color: #337ab7 transparent transparent;
 border-style: solid; left: 50%; transform: translateX(-50%); top: 100%;}
.userCard > footer.media a:hover span { visibility: visible; opacity: 1;}
.userCard svg{ width: 30px; height: 30px;  fill: white; vertical-align: top; }

section.skills{ max-width: 1100px; margin-left: auto; margin-right: auto; margin-top: 60px; }
section.skills > h2,section.portfolio > h2,section.messageBoard h2 { text-align: center; color: #3d4451; font-size: 34px; line-height: 1.2; font-weight: 600;}
section.skills ol  { padding: 42px 16px; margin-top: 30px; display: flex; flex-wrap: wrap; justify-content: space-between;}
section.skills ol li { width: 49%; margin-bottom: 12px; background: #fff; border: 2px solid #fff; 
border-radius: 3px; padding: 16px 20px; transition: all .3s ease;}
section.skills ol li:hover {border-color: #feca2a;}
section.skills ol li h3 { font-size: 18px; font-weight: bold; margin-bottom: 12px; cursor: default;}
section.skills ol li p { line-height: 1.8; cursor: default;}

section.portfolio { max-width: 1200px; margin-left: auto; margin-right: auto; margin-top: 60px;}
section.portfolio h2 { margin-bottom: 32px; }
section.portfolio .works > ol { display: flex; flex-wrap: wrap; justify-content: space-around;}
section.portfolio .works > ol > li { width: 31%; margin-bottom: 2%; }
section.portfolio .works > ol > li > a { display: block; width: 100%; height: 100%; position: relative; border-radius: 5px;
  transition: all .3s;}
section.portfolio .works > ol > li > a img { width: 100%; vertical-align: top; border-top-left-radius: 5px;
 border-top-right-radius: 5px; }
section.portfolio .works > ol > li > a .workTitle { padding: 16px 28px; background-color: #fff; border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px; }
section.portfolio .works > ol > li > a .workTitle h3 { font-size: 18px; padding-bottom: 12px;}
section.portfolio .works > ol > li > a .workTitle p { font-size: 14px; color: #8E8F92;}
section.portfolio .works > ol > li > a:hover { box-shadow: 0 0 15px 3px #aaa; transform: translateY(-6px);}

section.messageBoard {margin-top: 60px; margin-bottom: 100px; max-width: 860px; margin-left: auto; margin-right: auto;}
section.messageBoard h3 {padding: 36px 16px 8px 16px; margin-bottom: 10px;font-size: 24px; font-weight: bold; border-bottom: 1px solid #ccc;}
section.messageBoard .postMessage { padding-left: 16px; padding-right: 16px;}
section.messageBoard .postMessage textarea,section.messageBoard .postMessage input[type='text'] { width: 300px; padding: 8px;
  font-size: 14px; background-color: #FBFBFB; border: 1px solid #eee;}
section.messageBoard .postMessage textarea { width: 100%; height: 100px;}
section.messageBoard .postMessage p { margin: 8px 0;}
section.messageBoard .postMessage .submit {font-size: 14px; padding: 8px 24px; background-color: #feca2a; border-radius: 25px;
  border: none; color: #fff; cursor: pointer; transition: all .3s; margin-left: 30px;}
  section.messageBoard .postMessage .submit:hover { padding-left: 50px; padding-right: 50px;}
section.messageBoard ol { margin-top: 30px; border-radius: 3px; background-color: #f7f7f7; }
section.messageBoard ol li { padding: 12px 20px;}
section.messageBoard ol li:nth-child(2n+1) { background-color: #FFF;}
section.messageBoard ol li span { font-size: 16px; font-weight: bold;}
section.messageBoard ol li p { font-size: 14px; color: #8E8F92; line-height: 30px; margin-top: 12px; text-indent: 1em;}

footer.footer { padding: 20px 0; text-align: center; color: #333; font-size: 14px;}
.scrollToTop button {position: fixed; right: 20px;  background: #fff; border: none; border-radius: 4px; width: 40px; height: 40px;
  box-shadow: 0 1px 3px rgba(26,26,26,.1); cursor: pointer; color: #666; transition: bottom .3s;}
.scrollToTop:hover > button { background-color: #d3d3d3;}
.scrollToTop button:focus {outline: none;}
.scrollToTop button.show { bottom: 30px; }
.scrollToTop button.hide { bottom: -60px;}

/* canvas 粒子背景 */
.particles-js-canvas-el { position: absolute; top: 0; z-index: -1; }

/* 遮罩层 */
.overlay {
    position: fixed;
    z-index: 90;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: top 0s ease 0s, opacity 0.35s ease;
    opacity: 0;
}

.overlay.show { top: 0; opacity: 0.7; }

.preventScroll {
    position: fixed;
    width: 100%;
}

/* media */


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

} 
@media only screen and (max-width: 768px) {
    .wrapper { overflow: hidden;}
    .userCard .picture { width: 100%; text-align: center;}
    .userCard .text { width: 100%; margin-left: 0; margin-top: 10px; text-align: center;}
    .topNavBar {position: unset;}
    .topNavBar nav { margin-top: 0;}
    .topNavBar-inner { flex-direction: row; justify-content: space-between;}
    .topNavBar-inner .mobile-btn { display: block; border: 1px solid #4f5159; color: #feca2a; padding: 15px 20px;
    background-color: #fff;
    }
    .topNavBar .logo {  }
    .topNavBar-inner .menu {position: absolute; right: 0; top: 0; height: 100vh; 
        transform: translateX(100%); transition: all .3s ease-in-out; background-color: #feca2a;
        padding: 50px 20px;  z-index: 99;
    }
    .topNavBar-inner .menu.show { transform: translateX(0); }
    .topNavBar-inner .menu ul { flex-direction: column;}
    .topNavBar nav > ul > li > a { color: #fff;}
} 
@media only screen and (max-width: 992px) {
    .userCard { margin-left: 16px; margin-right: 16px;}
    section.portfolio .works > ol > li { width: 45%;}

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    section.skills ol { padding: 30px 10px; margin-top: 12px; justify-content: center;}
    section.skills ol li { width: 98%;}

    section.portfolio .works > ol { padding-left: 10px; padding-right: 10px; justify-content: center;}
    section.portfolio .works > ol > li { width: 98%; margin-bottom: 20px;}
    
    .userCard > footer.media a { margin: 6px; }

}